html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    background-color: black;
}

.container {
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    height: 100vw;
    background-color:dimgrey;
}
nav {
    width: calc(15vw + 10px);
    background-color: #ff0000;
}

.navGroup{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left:20px;
}

h1{
    font-size: 20px;
    color: #ffffff;
    margin-left: 5px;
}

#logo{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}

#userTabs, #setTabs{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
}

.navHeading{
    display:flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
    fill: #ffffff;
    height: 30px;
    width:calc(15vw - 10px);
    margin-top:7px;
    margin-bottom: 7px;
    font-size: 18px;
}

.navHeading>svg{
    width:25px;
    height: auto;
    margin-right:15px;
}

