html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    background-color: black;
}

.container {
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    height: 100vw;
    background-color:dimgrey;
}
nav {
    width: calc(15vw + 10px);
    background-color: #00bdfe;
}

.navGroup{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left:20px;
}

h1{
    font-size: 20px;
    color: #ffffff;
    margin-left: 5px;
    font-weight: bolder;
}

#logo{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    margin-top: 10px;
}

#userTabs, #setTabs{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
}

.navHeading{
    display:flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
    fill: #ffffff;
    height: 30px;
    width:calc(15vw - 10px);
    margin-top:7px;
    margin-bottom: 7px;
    margin-left: 1vw;
    font-size: 18px;
}

.navHeading>svg{
    width:2vw;
    height: auto;
    margin-right:calc(1vw + 5px);
}

.navText{
    max-width: calc(15vw - 50px);
    font-weight: bold;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: calc(10vw - 10px);
    width: calc( 65vw - 10px);
    box-shadow: 0 8px 4px -2px gray;
}

#hRow1{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: calc(4vw - 5px);
    justify-content: space-around;
}

#searchTab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(40vw - 10px);
    height: 40px;
    margin-top: 10px;
    margin-right: 30px;
}

#searchTab>svg {
    width: 1.5vw;
    height: auto;
    margin-right: 20px;
}

#searchBar {
    width: calc(30vw - 10px);
    border-radius: 12px;
    border-style:none;
    height: 26px;
    background-color:gainsboro;
}
#icons {
    display: flex;
    justify-content: space-between;
    width: 170px;
    align-items: center;
}
#icons>svg{
    width: 1.5vw;
    height: auto;
    margin-top: 10px;
}

#icons>img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-top: 10px;
}

#icons>p{
    margin-top: 10px;
    font-weight: bold;
}
#hRow2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: calc(6vw - 5px);
}

#profile {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#profile>img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

